In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
!pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in c:\users\haish\anaconda3\envs\aiml\lib\site-packages (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in c:\users\haish\anaconda3\envs\aiml\lib\site-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: joblib>=0.11 in c:\users\haish\anaconda3\envs\aiml\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: numpy>=1.14.6 in c:\users\haish\anaconda3\envs\aiml\lib\site-packages (from scikit-learn) (1.17.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\haish\anaconda3\envs\aiml\lib\site-packages (from scikit-learn) (3.1.0)

In [3]:
dataset= pd.read_csv('loan_data.csv')
dataset

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27.0,male,Associate,47971.0,6,RENT,15000.0,MEDICAL,15.66,0.31,3.0,645,No,1
44996,37.0,female,Associate,65800.0,17,RENT,9000.0,HOMEIMPROVEMENT,14.07,0.14,11.0,621,No,1
44997,33.0,male,Associate,56942.0,7,RENT,2771.0,DEBTCONSOLIDATION,10.02,0.05,10.0,668,No,1
44998,29.0,male,Bachelor,33164.0,4,RENT,12000.0,EDUCATION,13.23,0.36,6.0,604,No,1
44999,24.0,male,High School,51609.0,1,RENT,6665.0,DEBTCONSOLIDATION,17.05,0.13,3.0,628,No,1

In [4]:
dataset= pd.get_dummies(dataset,dtype=int, drop_first= True)
dataset

,person_age,person_income,person_emp_exp,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status,person_gender_male,...,person_education_Master,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,previous_loan_defaults_on_file_Yes
0,22.0,71948.0,0,35000.0,16.02,0.49,3.0,561,1,0,...,1,0,0,1,0,0,0,1,0,0
1,21.0,12282.0,0,1000.0,11.14,0.08,2.0,504,0,0,...,0,0,1,0,1,0,0,0,0,1
2,25.0,12438.0,3,5500.0,12.87,0.44,3.0,635,1,0,...,0,0,0,0,0,0,1,0,0,0
3,23.0,79753.0,0,35000.0,15.23,0.44,2.0,675,1,0,...,0,0,0,1,0,0,1,0,0,0
4,24.0,66135.0,1,35000.0,14.27,0.53,4.0,586,1,1,...,1,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27.0,47971.0,6,15000.0,15.66,0.31,3.0,645,1,1,...,0,0,0,1,0,0,1,0,0,0
44996,37.0,65800.0,17,9000.0,14.07,0.14,11.0,621,1,0,...,0,0,0,1,0,1,0,0,0,0
44997,33.0,56942.0,7,2771.0,10.02,0.05,10.0,668,1,1,...,0,0,0,1,0,0,0,0,0,0
44998,29.0,33164.0,4,12000.0,13.23,0.36,6.0,604,1,1,...,0,0,0,1,1,0,0,0,0,0
44999,24.0,51609.0,1,6665.0,17.05,0.13,3.0,628,1,1,...,0,0,0,1,0,0,0,0,0,0

In [5]:
dataset.columns

Index(['person_age', 'person_income', 'person_emp_exp', 'loan_amnt',
       'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length',
       'credit_score', 'loan_status', 'person_gender_male',
       'person_education_Bachelor', 'person_education_Doctorate',
       'person_education_High School', 'person_education_Master',
       'person_home_ownership_OTHER', 'person_home_ownership_OWN',
       'person_home_ownership_RENT', 'loan_intent_EDUCATION',
       'loan_intent_HOMEIMPROVEMENT', 'loan_intent_MEDICAL',
       'loan_intent_PERSONAL', 'loan_intent_VENTURE',
       'previous_loan_defaults_on_file_Yes'],
      dtype='object')

In [6]:
dataset.dtypes

person_age                            float64
person_income                         float64
person_emp_exp                          int64
loan_amnt                             float64
loan_int_rate                         float64
loan_percent_income                   float64
cb_person_cred_hist_length            float64
credit_score                            int64
loan_status                             int64
person_gender_male                      int32
person_education_Bachelor               int32
person_education_Doctorate              int32
person_education_High School            int32
person_education_Master                 int32
person_home_ownership_OTHER             int32
person_home_ownership_OWN               int32
person_home_ownership_RENT              int32
loan_intent_EDUCATION                   int32
loan_intent_HOMEIMPROVEMENT             int32
loan_intent_MEDICAL                     int32
loan_intent_PERSONAL                    int32
loan_intent_VENTURE                     int32
previous_loan_defaults_on_file_Yes      int32
dtype: object

In [7]:
dataset.info

<bound method DataFrame.info of        person_age  person_income  person_emp_exp  loan_amnt  loan_int_rate  \
0            22.0        71948.0               0    35000.0          16.02
1            21.0        12282.0               0     1000.0          11.14
2            25.0        12438.0               3     5500.0          12.87
3            23.0        79753.0               0    35000.0          15.23
4            24.0        66135.0               1    35000.0          14.27
...           ...            ...             ...        ...            ...
44995        27.0        47971.0               6    15000.0          15.66
44996        37.0        65800.0              17     9000.0          14.07
44997        33.0        56942.0               7     2771.0          10.02
44998        29.0        33164.0               4    12000.0          13.23
44999        24.0        51609.0               1     6665.0          17.05

       loan_percent_income  cb_person_cred_hist_length  credit_score  \
0                     0.49                         3.0           561
1                     0.08                         2.0           504
2                     0.44                         3.0           635
3                     0.44                         2.0           675
4                     0.53                         4.0           586
...                    ...                         ...           ...
44995                 0.31                         3.0           645
44996                 0.14                        11.0           621
44997                 0.05                        10.0           668
44998                 0.36                         6.0           604
44999                 0.13                         3.0           628

       loan_status  person_gender_male  ...  person_education_Master  \
0                1                   0  ...                        1
1                0                   0  ...                        0
2                1                   0  ...                        0
3                1                   0  ...                        0
4                1                   1  ...                        1
...            ...                 ...  ...                      ...
44995            1                   1  ...                        0
44996            1                   0  ...                        0
44997            1                   1  ...                        0
44998            1                   1  ...                        0
44999            1                   1  ...                        0

       person_home_ownership_OTHER  person_home_ownership_OWN  \
0                                0                          0
1                                0                          1
2                                0                          0
3                                0                          0
4                                0                          0
...                            ...                        ...
44995                            0                          0
44996                            0                          0
44997                            0                          0
44998                            0                          0
44999                            0                          0

       person_home_ownership_RENT  loan_intent_EDUCATION  \
0                               1                      0
1                               0                      1
2                               0                      0
3                               1                      0
4                               1                      0
...                           ...                    ...
44995                           1                      0
44996                           1                      0
44997                           1                      0
44998                           1                      1
44999                           1                      0

       loan_intent_HOMEIMPROVEMENT  loan_intent_MEDICAL  loan_intent_PERSONAL  \
0                                0                    0                     1
1                                0                    0                     0
2                                0                    1                     0
3                                0                    1                     0
4                                0                    1                     0
...                            ...                  ...                   ...
44995                            0                    1                     0
44996                            1                    0                     0
44997                            0                    0                     0
44998                            0                    0                     0
44999                            0                    0                     0

       loan_intent_VENTURE  previous_loan_defaults_on_file_Yes
0                        0                                   0
1                        0                                   1
2                        0                                   0
3                        0                                   0
4                        0                                   0
...                    ...                                 ...
44995                    0                                   0
44996                    0                                   0
44997                    0                                   0
44998                    0                                   0
44999                    0                                   0

[45000 rows x 23 columns]>

In [8]:
indep= dataset[['person_age', 'person_income', 'person_emp_exp', 'loan_amnt',
       'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length',
       'credit_score', 'person_gender_male',
       'person_education_Bachelor', 'person_education_Doctorate',
       'person_education_High School', 'person_education_Master',
       'person_home_ownership_OTHER', 'person_home_ownership_OWN',
       'person_home_ownership_RENT', 'loan_intent_EDUCATION',
       'loan_intent_HOMEIMPROVEMENT', 'loan_intent_MEDICAL',
       'loan_intent_PERSONAL', 'loan_intent_VENTURE',
       'previous_loan_defaults_on_file_Yes']]
dep= dataset[['loan_status']]

In [9]:
dataset['loan_status'].value_counts()

0    35000
1    10000
Name: loan_status, dtype: int64

In [10]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier

param_grid= {'criterion':['gini', 'entropy', 'log_loss'],
              'max_features':['sqrt', 'log2', None],
             'splitter':['best', 'random']}

grid= GridSearchCV (DecisionTreeClassifier(),param_grid,refit = True, verbose = 0,n_jobs=None,scoring='f1_weighted')

grid.fit(indep,dep)

C:\Users\haish\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
30 fits failed out of a total of 90.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
30 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\haish\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\haish\anaconda3\envs\aiml\lib\site-packages\sklearn\tree\_classes.py", line 942, in fit
    X_idx_sorted=X_idx_sorted,
  File "C:\Users\haish\anaconda3\envs\aiml\lib\site-packages\sklearn\tree\_classes.py", line 352, in fit
    criterion = CRITERIA_CLF[self.criterion](
KeyError: 'log_loss'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\haish\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_search.py:972: UserWarning: One or more of the test scores are non-finite: [0.88239434 0.8559449  0.88718893 0.86221337 0.89519664 0.8856781
 0.88613038 0.85892203 0.88370619 0.86164206 0.89791001 0.88477717
        nan        nan        nan        nan        nan        nan]
  category=UserWarning,

GridSearchCV(estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'max_features': ['sqrt', 'log2', None],
                         'splitter': ['best', 'random']},
             scoring='f1_weighted')

In [11]:
re=grid.cv_results_
grid_predictions = grid.predict(indep)

In [12]:
from sklearn.metrics import confusion_matrix
confusion= confusion_matrix(dep,grid_predictions)

In [13]:
print(confusion)

[[35000     0]
 [    0 10000]]

In [14]:
from sklearn.metrics import classification_report
class_report= classification_report(dep,grid_predictions)

In [15]:
print(class_report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     35000
           1       1.00      1.00      1.00     10000

    accuracy                           1.00     45000
   macro avg       1.00      1.00      1.00     45000
weighted avg       1.00      1.00      1.00     45000

In [16]:
grid.predict([[22,71948,0,35000,16.02,0.49,3,561,0,1,0,0,1,0,0,1,0,0,1,1,0,0]])

C:\Users\haish\anaconda3\envs\aiml\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([1], dtype=int64)